<h1>Add New Dictation</h1>

<%= simple_form_for @dictation do |f| %>
  <%= f.input :forename %>
  <%= f.input :surname %>
  <%= f.input :dob %>
  <%= f.input :nhs_number %>
  <%= f.button :save %>
<% end %>
